@keyframes loading-indicator-spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 47%;
  .loading-indicator-icon {
    font-size: 100px;
    display: inline-block;
    animation: loading-indicator-spin 1s infinite linear;
  }
  .loading-indicator-message {
    font-size: 24px;
    margin-top: 8px;
  }
}
