.navbar {
  background: black;
  padding: 12px 8px;
  color: white;
  .logo {
    margin-right: 8px;
    font-size: 40px;
  }
  .app-title {
    font-size: 30px;
    position: relative;
    top: -3px;
  }
  .home-link {
    text-decoration: none;
  }
  .menu-icon {
    margin-right: 12px;
    width: 40px;
    position: relative;
    top: 6px;
  }
  .avatar-logo{
    height: 30px;
    width: 35px;
    margin-right: 20px;
  }
}
