.sidebar {
  position: fixed;
  width: 160px;
  height: 100%;
  background-color: white;
  transform: translateX(-400px);
  transition: transform 0.5s ease-in;
  padding: 15px;
  font-style: bold;
  text-align: left;

  &.open {
    transform: translateX(0);
  }
  .activity-link {
    text-decoration: none !important;
  }
  a:hover {
    color: rgb(165, 167, 162);
  }

  .first-tab {
    margin-top: 12px;
  }

  .sub-section {
    font-size: 17px;
    text-align: left;
    padding: 6px;
    height: 25px;
    text-decoration: none;
    margin-left: 20px;
  }
}
